JWT_SECRET=
ADMIN_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# Mail System (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_ADMIN=admin@benua.shop
SMTP_FROM_SUPPORT=support@benua.shop
SMTP_FROM_NEWS=news@benua.shop
SMTP_FROM_SYSTEM=Benua@benua.shop
